h1{
    font-family: Copperplate, Papyrus, fantasy;
    color: #7C4585;
    font-size: 2rem;
}

header{
    background-color: #3d365c;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    font-family: Copperplate, Papyrus, fantasy;
    color: #F8B55F;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; 

}

.CabeçalhoItem {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.CabeçalhoItem:hover {
    background-color: #4d4b5e;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Verdana, sans-serif;
    color: #3d365c;
}

h2 {
    color: #C95792;
    font-family: Copperplate, Papyrus, fantasy;
}

body{
    padding-top: 5rem;;
    background-image: url('https://img.freepik.com/vetores-gratis/fundo-abstrato-gradiente-de-holograma_1048-10069.jpg');
}

.sobre{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.xp img {
    max-width: 150px;
    border-radius: 50%;
    height: auto;
}

.ctt img {
    max-width: 150px;
    border-radius: 50%;
    height: auto;
}

