h1{
    font-family: Copperplate, Papyrus, fantasy;
    color: #7C4585;
    font-size: 2rem;
}

header{
    background-color: #3d365c;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    font-family: Copperplate, Papyrus, fantasy;
    color: #F8B55F;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.CabeçalhoItem {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.CabeçalhoItem:hover {
    background-color: #4d4b5e;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Verdana, sans-serif;
    color: #3d365c;
}

h2 {
    color: #C95792;
    font-family: Copperplate, Papyrus, fantasy;
}

body{
    padding-top: 5rem;;
    background-image: url('https://img.freepik.com/vetores-gratis/fundo-abstrato-gradiente-de-holograma_1048-10069.jpg');
}

.sobre{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    font-size: 20px;
    align-items: center;
}

.sobre p{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #7C4585;
    padding-bottom: 5px;
    width: fit-content;
}

.sobre img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    object-fit: cover;
    margin: 0;
    margin-left: 2rem;
    margin-top: 0.5rem;
    box-shadow: 0 4px 8px #4d4b5e;
}

@media (max-width: 600px) {
    .sobre {
        flex-direction: column;
        align-items: center;
    }

    .sobre img {
        margin-left: 0;
        margin-top: 1rem;
    }

    .sobre p {
        font-size: 1.5rem;
    }
}
